extends layout

block content
    #home-sec
      #home.container
        .row.text-center
          .col-md-12
            span.head-main Get the latest!
            h2.head-sub-main Be updated, be safe!

    #about.container.spacer.about
      h2.text-center.wowload.fadeInUp Philippine Emergency Hotlines
      .row
        .col-sm-6.wowload.fadeInLeft
          h4
            i.fa.fa-database
            |  Database
          p
            | This is the list of the country's emergency hotlines from different departments, organizations and regions.
        .col-sm-6.wowload.fadeInRight
          h4
            i.fa.fa-code
            |  Frontend & Backend Development
          p
            | Team 4 develop a CRUD Node.js webapp using Express, Jade, and MongdoDB as the database.
