doctype html
html
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', href='css/login.css')
  body
    #wrap
      #regbar
        #navthing
          h2
            a#loginform(href='#') Login 
            |  | 
            a#registerform(href='#register') Register
          .login
            .arrow-up
            .formholder
              .randompad
                fieldset
                  label(name='username') Username:
                  input(type='username', value='@example')
                  label(name='password') Password:
                  input(type='password')
                  input(type='submit', value='Login')
          .register
            .arrow-up
            .formholder
              .randompad
                fieldset
                  label(name='firstName') First Name:
                  label(name='lastName') Last Name:
                  label(name='username') Username:
                  label(name='email') Email:
                  label(name='website') Website:
                  label(name='role') Role:
                  input(type='radio')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/index.js')