extends layout

block content

	.card
	  .card-image
	    figure.image.is-4by3
	      img(src='http://bulma.io/images/placeholders/1280x960.png', alt='Image')
	  .card-content
	    .media
	      .media-left
	        figure.image(style='height: 40px; width: 40px;')
	          img(src='http://bulma.io/images/placeholders/96x96.png', alt='Image')
	      .media-content
	        p.title.is-4 John Smith
	        p.subtitle.is-6 @johnsmith
	    	